/* Global Varibles */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main-color: #eb8e14;
  --transparent-color: #0f748fb3;
  --secondary-color: #2c4755;
  --section-padding: 100px;
  --paragraph-color: #777;
  --main-transition: 0.3s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 31px 10px;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  .container,
  .contact .content {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container,
  .contact .content {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container,
  .contact .content {
    width: 1170px;
  }
}

/* End Global Varibles */
/* Start Header */
.header {
  box-shadow: 0 0 10px #eee;
  user-select: none;
}
.header .container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 28px;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .logo {
    width: 100%;
    height: 50px;
  }
  .nav-bar {
    margin: auto;
  }
  .header .container .nav-bar .nav-menu li > a {
    padding: 10px;
    font-size: 14px;
  }
}
.logo > span {
  opacity: 0;
}

.logo > span:first-of-type {
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  /* transition-delay: 0.25ms; */
}
.logo > span:nth-child(2) {
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition-delay: 75ms;
}
.logo > span:last-of-type {
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition-delay: 0.15ms;
}
.logo:hover span:first-of-type,
span:nth-child(2),
span:last-of-type {
  transform: translate(-0.5em);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
  opacity: 0;
}
.logo:hover span:first-of-type {
  transform: translate(0);
  opacity: 1;
}
.logo:hover span:nth-child(2) {
  transform: translate(0);
  opacity: 1;
}
.logo:hover span:last-of-type {
  transform: translate(0);
  opacity: 1;
}
.header .container .nav-bar .nav-menu {
  display: flex;
}
.header .container .nav-bar .nav-menu a {
  padding: 30px;
  position: relative;
}
.header .container .nav-bar .nav-menu a::after {
  transition: 0.3s;
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}
.header .container .nav-bar a:hover::after {
  width: 100%;
}
.header .nav-menu > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.active {
  opacity: 1 !important;
  z-index: 100 !important;
  top: calc(100%) !important;
  display: grid !important;
}
/* End Header */
/* Hidden Menu */
.hidden-menu {
  background-color: #fff;
  width: 100%;
  display: none;
  grid-template-rows: auto;
  grid-template-columns: minmax(50%, 1fr) repeat(2, 1fr);
  grid-template-areas: "img list-1 list-2";
  position: absolute;
  top: calc(100% - -5em);
  left: 0;
  margin-top: 1em;
  column-gap: 1em;
  padding-bottom: 1.5em;
  border-bottom: 0.3em solid var(--main-color);
  opacity: 0;
  z-index: -1;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 991px) {
  .hidden-menu img {
    display: none;
  }
  .hidden-menu {
    grid-template-columns: auto;
    grid-template-areas: "list-1 list-2";
  }
}
@media (max-width: 767px) {
  .active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .hidden-menu ul {
    width: 100%;
  }
}

.hidden-menu img {
  max-width: 100%;
  grid-area: img;
  align-self: center;
}
.hidden-menu .list-1 {
  grid-area: list-1;
}
.hidden-menu .list-2 {
  grid-area: list-2;
}
.hidden-menu span {
  top: 5px;
  position: relative;
}
.header .nav-menu .hidden-menu ul.grid li > a {
  padding: 1em;
  color: var(--main-color);
  border-bottom: 0.1em solid var(--main-color);
}
.header .nav-menu .hidden-menu ul.grid li > a:hover {
  background-color: none;
}
.header .nav-menu .hidden-menu ul.grid li > a::after {
  transition: 0.3s;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eeeeee3d;
}
.header .nav-menu .hidden-menu ul.grid li > a:hover::after {
  width: 100%;
}
/* Hidden Menu */
/* Landing Page */
.landing {
  position: relative;
}

.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 7em);
  padding-bottom: 7em;
}
.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 99.8% -21.5%);
  z-index: -1;
  top: 0;
  left: 0;
}

.landing .container .text {
  flex-basis: 60em;
  font-family: cairo, sans-serif;
}
.landing .container .text h1 {
  letter-spacing: -2px;
}
.landing .container .text p {
  color: #777;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
  .landing .container .text {
    text-align: center;
  }
}

.landing .container img {
  width: 40em;
}
/* Landing Page */
